[Desktop Entry]
Type=Application
Name=Wallora 2
GenericName=Wallpaper Manager
GenericName[pl]=Menedżer tapet
Comment=Advanced wallpaper manager with animated video/GIF support
Comment[pl]=Zaawansowany menedżer tapet ze wsparciem animacji (wideo/GIF)
Exec=wallora
Terminal=false
Categories=Utility;Graphics;GTK;
Icon=org.wallora.Wallora
StartupNotify=true
StartupWMClass=org.wallora.Wallora
Keywords=wallpaper;tapeta;desktop;background;wallora;animated;video;live;
